<div class="mt-2 p-2 bg-primary text-white rounded">
    <h1>Control Flow</h1>
    <p><span>&#64;</span>for,<span>&#64;</span>switch....</p>
</div>
<div class="row">
    <div class="col-3">
        <ul>
            @for(items of cityOfArray;track $index){
                <li>{{items}}</li>
            }
        </ul>
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="dayNumber">
    </div>
    <div class="col-3">
        Day Name is:
        @switch(dayNumber){
            @case('1'){
                <span>Monday</span>
            }
            @case('2'){
                <span>Tuesday</span>
            }
            @case('3'){
                <span>Wednesday</span>
            }
            @case('4'){
                <span>Thursday</span>
            }
            @case('5'){
                <span>Friday</span>
            }
            @case('6'){
                <span>saturday</span>
            }
            @case('7'){
                <span>Sunday</span>
            }
            @default{
                <span>Invalid daysNumber</span>
            }
        }
    </div>
    <div class="col-3"></div>
</div>