<div class="mt-2 p-2 bg-primary text-white rounded">
    <h1>Control Flow</h1>
    <p><span>&#64;</span>if,<span>&#64;</span>else....</p>
</div>
<div class="row pt-3">
    <div class="col-3">
        @if(isDiv1Visible){
            <div class="bg-danger p-3 text-center">
                <h4>Div-1</h4>
            </div>
        }
    </div>
    <div class="col-3">
        @if(isToggleDiv2Visible){
            <div class="bg-warning p-3 text-center">
                <h4>Div-2</h4>
            </div>
        }@else{
            <div class="bg-success p-3 text-center">
                <h4>Div-2</h4>
            </div>
        }
        
    </div>
    <div class="col-3">
        @if(num1==num2){
            <div class="bg-success p-3 text-center">
                <h4>Div-3</h4>
            </div>
        }
        
    </div>
    <div class="col-3">
        <div class="bg-primary p-3 text-center">
            @if(selectedStatus=='active'){
                <p>Status in Active</p>
            }
            @else if(selectedStatus=='deActive'){
                <p>Status in DeActive</p>
            }
            @else if(selectedStatus=='pending'){
                <p>Status in pending</p>
            }
            @else{
                <p>Please select Status</p>
            }
        </div>
    </div>
</div>
<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>
        <button class="btn btn-primary mx-2" (click)="showDiv1()">Show</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2()">Toggle</button>
    </div>
    <div class="col-3 text-center">
        <div style="display: flex;align-items: center;">
            <input type="text" [(ngModel)]="num1" placeholder="Num1" width="width-50">
            <input type="text" [(ngModel)]="num2" placeholder="Num2" width="width-50">
        </div>
    </div>
    <div class="col-3 text-center">
        <div style="display: flex;align-items: center;margin-left: 100px;">
            <select [(ngModel)]="selectedStatus">
                <option value="">Select</option>
                <option value="active">Active</option>
                <option value="deActive">De-Active</option>
                <option value="pending">Pending</option>
            </select>
        </div>
    </div>
</div>
