.row{
    display: flex;
    margin-top: 15px;
}
.col-3{
    display: flex;
    margin-left: 20px;
    width: 100%;
}
.btn-danger{
    display:flex;
}
.mt-2{
    margin-top: 10px;
    margin-left:1px;
}