<div class="mt-2 p-2 bg-primary text-white rounded">
    <h1>Default Pipe & Custom Pipe</h1>
</div>
<div class="row mt-2 p-2">
    <div class="col-3">
        Original Value - {{firstName}}
   <br/>
    after Pipe -{{firstName | uppercase}}
    </div>
    <div class="col-3">
        Original Value - {{firstName}}
   <br/>
    after Pipe -{{firstName | lowercase}}
    </div>
    <div class="col-3">
        Original Value - {{firstName}}
   <br/>
    after Pipe -{{firstName|titlecase}}
    </div>
    <div class="col-3">
        Original Value - {{firstName}}
   <br/>
    after Pipe -{{firstName}}
    </div>
</div>
<div class="row p-2">
    <div class="col-3">
        Original Value - {{currentDate}}
   <br/>
    after Pipe -{{currentDate|date}}
    </div>
    <div class="col-3">
        Original Value - {{currentDate}}
   <br/>
    after Pipe -{{currentDate|date}}
    </div>
    <div class="col-3">
        Original Value - {{currentDate|date}}
   <br/>
    after Pipe -{{currentDate|date:'dd/MMM/yy'}}
    </div>
    <div class="col-3">
        Original Value -
   <br/>
    after Pipe 
    </div>
</div>
<div class="row">
    <div class="col-3">
        Original Value -{{student}}
   <br/>
    after Pipe -{{student|json}} 
    </div>
    <div class="col-3">
        Original Value -{{currentTime}}
   <br/>
    after Pipe - {{currentTime|async|date:'hh:mm:ss'}}
    </div>
    <div class="col-3">
        Original Value -{{student.state}}
   <br/>
    after Pipe -{{student.state|na}}
    </div>
</div>